.shame-index
    margin-bottom: 0 !important
    .item
        vertical-align: top !important
        min-height: auto !important
    .wrapper
        right: -15px !important
        margin-left: -15px !important
        padding-left: 30px !important
    img
        vertical-align: top !important
    .container
         max-width: 100% !important

    +media-breakpoint-up(sm)
        p
            width: 500px !important

    +media-breakpoint-up(lg)
        .center
            margin-top: 120px !important
        .wrapper
            padding-left: 80px !important
        p
            width: 100% !important
            margin-bottom: 40px !important

    +media-breakpoint-up(x1)
        p
            margin-bottom: 0 !important
        .btn
            bottom: -20px !important

.shame-text-main
    background-position-x: calc(50% + 100px) !important
    .col-lg-12
        width: 300px
        padding-left: 30px
    
    +media-breakpoint-up(sm)
        background-position-x: calc(50% + 75px) !important
        .col-lg-12
            width: 400px

    +media-breakpoint-up(md)
        background-position-x: calc(50% + 50px) !important
        .col-lg-12
            width: 450px

    +media-breakpoint-up(lg)
        background-position-x: 50% !important
    
.shame-text-main2
    padding-top: 150px !important
    background-position-x: calc(50% - 180px) !important

    +media-breakpoint-up(md)
        background-position-x: calc(50% - 50px) !important

        .col-lg-7
            padding-left: 220px !important
    
    +media-breakpoint-up(lg)
        padding-top: 125px !important
        background-position-x: calc(50% + 50px) !important

        .col-lg-7
            padding-left: 100px !important

    +media-breakpoint-up(lg)
        padding-top: 150px !important
