.shame-index
    margin-bottom: 0 !important
    .item
        vertical-align: top !important
        min-height: auto !important
    .wrapper
        right: -15px !important
        margin-left: -15px !important
    img
        vertical-align: top !important
        
    +media-breakpoint-up(sm)
        .container
            max-width: 100% !important





.shame-catalog
    margin-top: 0 !important

    
    // ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
